<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.3.js"></script>
<script>
	$(function(){
		setInterval(function() {
			console.log($('.log_table > tbody > tr').first().children().first().text())
			$.ajax({
				url : '/log/new_log',
				data : `date=${$('.log_table > tbody > tr').first().children().first().text()}`,
				// data : `date=2023-03-30 11:00:00`,
				type:'post',
				dataType:'json',
				success:function(r){
					console.log(r);
					//tbody에 데이터를 끼워넣기
					if(r.length == 0) return;
					let tag = '';
					tag = r.reduce((prev,curr) => prev + `<tr><td>${curr.logTime}</td><td>${curr.runMethod}</td><td>${curr.writer}</td><td>${curr.updateData}</td></tr>`,``)

					// $.each(r,function(idx,obj){
					// 	tag += `<tr>`;
					// 	tag += `<td>${obj.logTime}</td>`;
					// 	tag += `<td>${obj.runMethod}</td>`;
					// 	tag += `<td>${obj.writer}</td>`;
					// 	tag += `<td>${obj.updateData}</td>`;
					// 	tag += `</tr>`;
					// });
					console.log(tag);
					$(".log_table > tbody").prepend(tag);
				}
			});
		}, 1000);
	});

</script>
<style>
	.container{
		width: 1200px;
		height: 600px;
		overflow-y: scroll;
		margin:0 auto;
	}
	.log_table{
		width: 100%;
		border-collapse: collapse;
		box-sizing: border-box;
	}
	.log_table td, .log_table th{
		padding:10px 20px;
		border:1px solid black;
		box-sizing: border-box;
	}

</style>
</head>
<body>
	<th:block th:include="/fragments/header.html"></th:block>
	<div class="container">
		<table class="log_table">
			<thead>
				<tr>
					<th>발생시각</th>
					<th>기능</th>
					<th>작업자</th>
					<th>내용</th>
				</tr>
			</thead>
			<tbody>
				<!-- 데이터 -->
				<tr th:each="log : ${list}">
					<td>[[${log.logTime}]]</td>
					<td th:text="${log.runMethod}"></td>
					<td th:text="${log.writer}"></td>
					<td th:text="${log.updateData}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>