<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.GradeMapper">
	<select id="selectAllGrade" resultType="map">
		select * from board_member_grade
	</select>
	<insert id="insertGrade" parameterType="map">
		insert into board_member_grade values(#{grade_no},#{grade_name})
	</insert>
	<select id="selectGrade" parameterType="string" resultType="map">
		select * from board_member_grade where grade_name like '%' || #{search} || '%'
	</select>
	<update id="updateGrade" parameterType="hashMap">
		update board_member_grade set
		grade_name = #{grade_name}
		where grade_no = #{grade_no}
	</update>
	<delete id="deleteGrade" parameterType="int">
		delete from board_member_grade where grade_no = #{grade_no} 
	</delete>
</mapper>











